<article class="card">

  <div class="img-wrapper">
    <img class="img" [src]="product.imageUrl" [alt]="product.name" />
    <span class="category-badge">{{ product.category }}</span>
  </div>

  <div class="body">

    <div class="top">
      <h3 class="title">{{ product.name }}</h3>
      <span class="price">${{ product.price }}</span>
    </div>

    <p class="desc">{{ product.description }}</p>

    <div class="footer">
      <span class="stock" [class.out]="!product.inStock">
        @if (product.inStock) {
          <span class="dot"></span> En stock
        } @else {
          <span class="dot"></span> Agotado
        }
      </span>
    </div>

  </div>

</article>